.box.box-info .box.box-solid.box-default{
    /* border: none !important; */
}
/* .box.box-info .fields-group .form-group {
    width: 50%;
    float: left;
}
.box.box-info .control-label{
    text-align: left !important;
} 

.removeLabelClass{
    width: 0 !important;
} */


.providerProductTable{

}


